<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- <ion-button routerLink="/alert">Click</ion-button>

  <ion-button routerLink="/action-sheet">Click</ion-button> -->

  <ion-list>
    <ion-item *ngFor="let c of componentes"
       [routerLink]="c.redirectTo"
       detail>
      <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
      <ion-label>{{c.name}} </ion-label>
    </ion-item>
  </ion-list>
  </ion-content>


