


<app-header titulo="Cards"></app-header>


<ion-content class="ion-padding">

  <h2>primera tarjeta</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <h2>segunda tarjeta</h2>
  <ion-card>
    <img  src="https://epicland.com.mx/cdn/shop/articles/SPIDERMAN-TAPA-jpg.jpg?v=1630708502&width=1000" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <h3>tercera tarjeta </h3>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Awesome Label</ion-label>
      <ion-icon slot="start" name="add"></ion-icon>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>SuperHeroes</ion-card-subtitle>
      <ion-card-title>Spiderman</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      spiderman is the better superhero , he is 15 years Old

    </ion-card-content>
  </ion-card>

</ion-content>
